.wrapper {
  --blue: #4c79c9;
  --dark-blue: #1e4f99;
  --red: #eb3649;
  --dark-red: #80252d;
  --white: #faf8f8;
  --gray: #443b3f;
  --black: #1f1b19;
  --screen: #e0ded9;

  --spacer: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
